{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %} | Czaro CRM</title>
    {% compress css %}
    <link rel="stylesheet"
        href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body class="flex flex-col min-h-screen bg-gray-100">

    <nav class="fixed top-0 left-0 right-0 p-6 flex items-center justify-between bg-blue-500">
        <p class="text-xl text-white">Czaro CRM</p>
        <div class="space-x-4">
            {% if request.user.is_authenticated %}
                <a href="{% url "patient:create" %}" class="text-white">Add Patient</a>
                <a href="{% url "department:department_list" %}" class="text-white">Departments</a>
                <a href="{% url "patient:index" %}" class="text-white">Patients List</a>
                <a href="{% url 'main:logout' %}" class="py-2 px-4 bg-red-600 rounded-md text-white">Logout</a>
            {% else %}
                <a href="{% url 'main:login' %}" class="py-2 px-4 bg-blue-700 text-white rounded-md">Login</a>
                <a href="{% url 'main:signup' %}" class="py-2 px-4 bg-blue-800 text-white rounded-md">Sign up</a>
            {% endif %}
        </div>
    </nav>

    <main class="p-6 flex-1 mb-14">
        {% if messages %}
            <div class="space-y-4">
                {% for message in messages %}
                    <div class="bg-green-200 text-black rounded-md p-4">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    <footer class="fixed bottom-0 left-0 right-0 p-6 bg-blue-500 text-white">
        <p class="text-sm text-center">Copyright (c) 2024 - Czaro CRM</p>
    </footer>

</body>
</html>
