{% extends "base.html" %}

{% block content %}
<div class="mt-40 flex items-center justify-center mb-10">
    <div class="max-w-xl py-8 bg-white text-center shadow-md rounded-md">
        <h1 class="text-3xl font-bold mb-4">Discharge Patient</h1>

        <p class="mb-4 font-bold">Patient: {{ hospitalization.patient.first_name }} {{ hospitalization.patient.last_name }}</p>

        <form method="post" action="{% url 'department:discharge' hospitalization.id %}" class="mb-8">
            {% csrf_token %}

            <div class="flex items-center m-4">
                <label for="id_discharge_date">Discharge Date:</label>
                <input type="date" name="discharge_date" id="id_discharge_date" required value="{{ default_discharge_date|default:'' }}">
                <label for="id_discharge_time" class="ml-2">Discharge Time:</label>
                <input type="time" name="discharge_time" id="id_discharge_time" required value="{{ default_discharge_time|default:'' }}">
            </div>

            <div class="flex items-center justify-center">
                <button type="submit" class="py-3 px-6 bg-blue-500 text-white rounded-md m-3">Discharge</button>
                <a href="{% url 'department:hospitalization' hospitalization.id %}" class="back-button">Back</a>
            </div>

        </form>

    </div>
</div>
{% endblock %}
