{% extends "base.html" %}

{% block content %}
<body>
    <h1>{% block title %}Discharge Patient{% endblock %}</h1>

    <p>Patient: {{ hospitalization.patient.first_name }} {{ hospitalization.patient.last_name }}</p>
    <p>Admitted On: {{ hospitalization.admitted_on }}</p>

    <form method="post" action="{% url 'department:discharge' hospitalization.id %}">
        {% csrf_token %}
    
        <label for="id_discharge_date">Discharge Date:</label>
        <input type="date" name="discharge_date" id="id_discharge_date" required value="{{ default_discharge_date|default:'' }}">
    
        <label for="id_discharge_time">Discharge Time:</label>
        <input type="time" name="discharge_time" id="id_discharge_time" required value="{{ default_discharge_time|default:'' }}">
    
        <button type="submit">Discharge</button>
    </form>
    <p><a href="{% url 'department:department_detail' hospitalization.department.id %}">Back to Department</a></p>

</body>
{% endblock %}