{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center m-10 mt-20">
    <div class="max-w-xl py-8 bg-white text-center shadow-md rounded">
        <h1 class="text-3xl font-bold m-5">{{ title }}</h1>

        <p class="mb-4 font-bold">Patient: {{ patient.first_name }} {{ patient.last_name }}</p>

        <form method="post" action="{% url 'department:hospitalization_update' patient.id hospitalization_id %}" class="mb-8">
            {% csrf_token %}
            <div class="m-4">
                <p>{{ form.main_symptom.label_tag }}</p>
                <p>{{ form.main_symptom }}</p>
                <p>{{ form.additional_symptoms.label_tag }}</p>
                <p>{{ form.additional_symptoms }}</p>
            </div>

            {{ form.department_id }}

            <div class="flex items-center justify-center">
                <button type="submit" class="edit-button">Edit</button>
                <a href="{% url 'department:hospitalization' hospitalization_id %}" class="back-button">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}