{% extends "base.html" %}


{% block content %}

<h1 class="text-3xl font-bold text-center">{{ title }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.first_name.label_tag }}
    {{ form.first_name }}

    {{ form.last_name.label_tag }}
    {{ form.last_name }}

    {{ form.date_of_birth.label_tag }}
    {{ form.date_of_birth }}

    {{ form.contact_number.label_tag }}
    {{ form.contact_number }}

    {{ form.country.label_tag }}
    {{ form.country }}

    {{ form.city.label_tag }}
    {{ form.city }}

    {{ form.street.label_tag }}
    {{ form.street }}

    {{ form.zip_code.label_tag }}
    {{ form.zip_code }}

    {{ form.admitted_on.label_tag }}
    {{ form.admitted_on }}

    {{ form.admitted_by.label_tag }}
    {{ form.admitted_by }}

    {{ form.is_insured.label_tag }}
    {{ form.is_insured }}

    {{ form.insurance.label_tag }}
    {{ form.insurance }}

    {{ form.consent.label_tag }}
    {{ form.consent }}

    {{ form.consent_contact_number.label_tag }}
    {{ form.consent_contact_number }}

    

    <button class="mt-4 py-4 px-6 bg-zinc-500 rounded-xl text-white">Add Patient</button>
</form>

{% endblock %}