{% extends "base.html" %}

{% block content %}
<div class="mt-60 flex items-center justify-center">
    <div class="max-w-xl py-8 bg-white text-center shadow-md rounded-md">
        <h1 class="mb-6 text-3xl">{{ title }}</h2>
        <div>
            <p class="mx-5 text-2xl">Are you sure you want to <strong>delete</strong> {{ patient }}?</p>
        </div>
        <form class="mt-5 px-8 space-y-4" method="post">
            {% csrf_token %}
            <div class="mb-9">
                <button class="mb-9 py-2 px-4 bg-red-600 text-white rounded-md" type="submit">Confirm Delete</button>
            </div>
        </form>
        <div class="text-white">
            <a class="back-button" href="{% url 'patient:index' %}">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}
