{% extends "base.html"%}

{% block content %}

<h1 class="text-3xl font-bold text-black text-center mb-20">{{ title }}</h1>
<p class="text-2xl text-center mb-5">Patients:</p>

{% for patient in patients %}
    <div class="flex justify-center">
        <a href="{% url 'patient:detail' patient.id %}">
            <p class="mb-3 text-lg">
                <span class="font-bold">{{ patient.first_name }} {{ patient.last_name }}</span>
                {% if patient.ongoing_admissions > 0 %}
                    - Ongoing Admission
                {% elif patient.discharged_admissions > 0 %}
                    {% if patient.latest_discharge_date %}
                        - Last Discharged on {{ patient.latest_discharge_date|default:"N/A"|date:"d F Y" }}
                    {% else %}
                        - No Hospitalization History
                    {% endif %}
                {% endif %}
            </p>
        </a>
    </div>
{% endfor %}
{% endblock %}