{% extends "base.html" %}

{% block content %}
    <h1 class="p-8 text-3xl font-bold text-center mt-16">{{ title }}</h1>

    <div class="flex justify-center">
        <table class="min-w-max w-2/3 bg-white border border-gray-300 rounded-lg overflow-hidden">
            <tbody class="text-gray-600 text-sm font-light">
                <tr class="border-b border-gray-300 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left font-bold">First Name</td>
                    <td class="py-3 px-6 text-left">{{ patient.first_name }}</td>
                    <td class="py-3 px-6 text-left font-bold">Last Name</td>
                    <td class="py-3 px-6 text-left">{{ patient.last_name }}</td>
                </tr>

                <tr class="border-b border-gray-300 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left font-bold">Date of birth</td>
                    <td class="py-3 px-6 text-left">{{ patient.date_of_birth|date:"d F Y" }}</td>
                    <td class="py-3 px-6 text-left font-bold">Contact number:</td>
                    <td class="py-3 px-6 text-left">{{ patient.contact_number }}</td>
                </tr>

                <tr class="border-b border-gray-300 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left font-bold">Address</td>
                    <td class="py-3 px-6 text-left">{{ patient.street }}</td>
                    <td class="py-3 px-6 text-left font-bold">City</td>
                    <td class="py-3 px-6 text-left">{{ patient.city }}</td>
                </tr>

                <tr class="border-b border-gray-300 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left font-bold">Zip code</td>
                    <td class="py-3 px-6 text-left">{{ patient.zip_code }}</td>
                    <td class="py-3 px-6 text-left font-bold">Country</td>
                    <td class="py-3 px-6 text-left">{{ patient.country }}</td>
                </tr>

                <tr class="border-b border-gray-300 hover:bg-gray-100">
                    <td class="py-3 px-6 text-left font-bold">Insurance</td>
                    <td class="py-3 px-6 text-left">{{ patient.is_insured|yesno:"Yes,No" }}</td>
                    <td class="py-3 px-6 text-left font-bold">Insurance number</td>
                    <td class="py-3 px-6 text-left">{{ patient.insurance }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex justify-center mt-8">
        <div class="flex items-center">
            <a href="{% url 'department:admit_patient' patient.id %}" class="py-3 px-6 bg-teal-500 rounded-md text-white mr-3">Admit Patient</a>
            <a href="{% url 'patient:index' %}" class="py-3 px-6 bg-indigo-800 rounded-md text-white mr-3">Back</a>
            <a href="{% url 'patient:update' patient.id %}" class="py-3 px-6 bg-indigo-500 rounded-md text-white mr-3">Edit</a>
            <a href="{% url 'patient:delete' patient.id %}" class="py-3 px-6 bg-red-500 rounded-md text-white">Delete</a>
        </div>
    </div>
{% endblock %}
