{% extends "base.html" %}


{% block content %}

<h1 class="p-8 text-3xl font-bold text-center">{{ title }}</h1>
<form method="post">
    {% csrf_token %}

    <div class="p-8 flex justify-center">
        <table class="table-fixed w-4/5 border">
            <tbody>
                <tr>
                    <td class="border p-2 font-bold">{{ form.admitted_on.label_tag }}</td>
                    <td class="border p-2">{{ form.admitted_on }}</td>
                    <td class="border p-2 font-bold">{{ form.admitted_by.label_tag }}</td>
                    <td class="border p-2">{{ form.admitted_by }}</td>
                </tr>
    
    
                <tr>
                    <td class="border p-2 font-bold">{{ form.main_symptom }}</td>
                    <td class="border p-2">{{ form.main_symptoms }}</td>
                    <td class="border p-2 font-bold">{{ form.additional_symptoms.label_tag }}</td>
                    <td class="border p-2">{{ form.additional_symptoms }}</td>
                </tr>
                <tr>
                    <td class="border p-2 font-bold">{{ form.consent.label_tag }}</td>
                    <td class="border p-2">{{ form.consent }}</td>
                    <td class="border p-2 font-bold">{{ form.consent_contact_number.label_tag }}</td>
                    <td class="border p-2">{{ form.consent_contact_number }}</td>
                </tr>

    
            </tbody>
        </table>
    </div>

    <div class="flex justify-center">
        <div class="flex items-center mt-8">
            

            <button class="mt-4 py-4 px-6 bg-zinc-500 rounded-xl text-white">{{ title }}</button>

        </div>
    </div>


</form>