{% extends "base.html" %}


{% block content %}


    <h1 class="p-8 text-3xl font-bold text-center">{{ title }}</h1>
 

    <div class="flex justify-center">
        <table class="table-fixed w-2/3 border">
            <tbody>
                <tr>
                    <td class="border p-2 font-bold">First Name</td>
                    <td class="border p-2">{{ patient.first_name }}</td>
                    <td class="border p-2 font-bold">Last Name</td>
                    <td class="border p-2">{{ patient.last_name }}</td>
                </tr>
    
                <tr>
                    <td class="border p-2 font-bold">Date of birth</td>
                    <td class="border p-2">{{ patient.date_of_birth|date:"d F Y" }}</td>
                    <td class="border p-2 font-bold">Contact number: </td>
                    <td class="border p-2">{{ patient.contact_number }}</td>
                </tr>
    
                <tr>
                    <td class="border p-2 font-bold">Insurance</td>
                    <td class="border p-2">{{ patient.is_insured|yesno:"Yes,No"  }}</td>
                    <td class="border p-2 font-bold">Insurance number</td>
                    <td class="border p-2">{{ patient.insurance }}</td>
                </tr>
                
                <tr>
                    <td class="border p-2 font-bold">Main symptom</td>
                    <td class="border p-2">{{ visit.main_symptom }}</td>
                    <td class="border p-2 font-bold">Additional symptoms</td>
                    <td class="border p-2">{{ visit.additional_symptoms }}</td>
                </tr>

                <tr>
                    <td class="border p-2 font-bold">Authorized Medical Contact</td>
                    <td class="border p-2">{{ visit.consent }}</td>
                    <td class="border p-2 font-bold">Authorized Medical Contact phone number</td>
                    <td class="border p-2">{{ visit.consent_contact_number }}</td>
                </tr>
    
                <tr>
                    <td class="border p-2 font-bold">Admitted on</td>
                    <td class="border p-2">{{ visit.admitted_on|date:"F j, Y" }} {{ visit.admitted_on|time:"H:i" }}</td>
                    <td class="border p-2 font-bold">Admitted by</td>
                    <td class="border p-2">{{ visit.admitted_by.first_name }} {{ visit.admitted_by.last_name }} | {{ visit.admitted_by.get_profession_display }}</td>
                </tr>
           
    
                <tr>
                    <td class="border p-2 font-bold">Discharged</td>
                    <td class="border p-2">{{ visit.is_discharged|yesno:"Yes,No" }}</td>
                    <td class="border p-2 font-bold">Discharge on </td>
                    <td class="border p-2">{% if visit.is_discharged %}{{ visit.discharged_on }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex justify-center">
        <div class="flex items-center mt-8">
            <a href="{% url 'patient:detail' patient.id %}" class="py-4 px-6 bg-zinc-800 rounded-xl text-white mr-3">Back</a>
            <a href="{% url 'visit:update' patient.id visit.id %}" class="py-4 px-6 bg-zinc-500 rounded-xl text-white mr-3">Edit</a>

            {% if not visit.is_discharged %}
                <form method="post" action="{% url 'visit:detail' patient.id visit.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="discharge">
                    <button type="submit" class="py-4 px-6 bg-emerald-600 rounded-xl text-white">Discharge Patient</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'visit:detail' patient.id visit.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="readmit">
                    <button type="submit" class="py-4 px-6 bg-emerald-600 rounded-xl text-white">Readmit Patient</button>
                </form>
                    {% endif %}
            </div>
    </div>

<!-- Admit Patient -->
<div class="flex justify-center mt-4">
    <form method="post" action="{% url 'department:admit' patient_id=patient.id visit_id=visit.id department_id=department.id|default:None %}">
        {% csrf_token %}
        <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded-md">Admit Patient</button>
    </form>
</div>

<!-- Discharge Patient -->
<div class="flex justify-center mt-4">
    <form method="post" action="{% url 'department:discharge' patient_id=patient.id visit_id=visit.id department_id=department.id %}">
        {% csrf_token %}
        <button type="submit" class="py-2 px-4 bg-red-500 text-white rounded-md">Discharge Patient</button>
    </form>
</div>



<!-- Transfer Patient -->
<div class="flex justify-center mt-4">
    <form method="post" action="{% url 'department:transfer' patient.id visit.id department.id %}">
        {% csrf_token %}
        <select name="to_department" id="to_department">
            <!-- Populate dropdown with available departments for transfer -->
            {% for other_department in available_departments %}
                <option value="{{ other_department.id }}">{{ other_department.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="py-2 px-4 bg-green-500 text-white rounded-md">Transfer Patient</button>
    </form>
</div>


{% endblock %}