@tailwind base;
@tailwind components;
@tailwind utilities;


@layer componets {
    /* Forms style*/
    .patient-form {
        @apply w-full my-2 py-2 px-2 rounded-md bg-zinc-100;
    }
    .department-form {
        @apply w-full py-3 px-4 bg-stone-200 rounded-md text-black;
    }
    .hospitalization-form {
        @apply w-60 py-1 px-1 m-1 rounded-md bg-zinc-100;
    }
    .numeric-form {
        @apply w-1/4 py-1 px-1 bg-stone-200 rounded-md text-black;
    }
    .pain-comment-form {
        @apply w-80 h-20 bg-stone-100 border border-gray-400 p-4;
    }
    .consultation-header-form {
        @apply w-full py-1 px-1 bg-stone-200 rounded-md text-black;
    }
    .signup-form {
    	@apply w-full py-3 px-3 bg-stone-200 rounded-xl text-black;
    }
    
    /* Buttons style*/
    .back-button {
        @apply py-2 px-4 bg-blue-500 rounded-md mr-3 text-white;    
    }
    .edit-button {
        @apply py-2 px-4 bg-indigo-500 rounded-md mr-3 text-white;
    }
    .delete-button {
        @apply py-2 px-4 bg-red-500 rounded-md mr-3 text-white;
    }
    .normal-button {
        @apply py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600;
    }

}

